<!-- start footer -->
<footer class="footer-dark bg-dark-blue pb-0 cover-background background-position-left-top"
    style="background-image: url('images/demo-hosting-footer-bg.jpg.webp')">
    <div class="container">
        <div class="row justify-content-between mb-5 md-mb-8 sm-mb-40px">
            <!-- start footer column -->
            <div class=" col-lg-4 last-paragraph-no-margin order-sm-1 md-mb-40px xs-mb-30px">
                <a href="demo-hosting.html" class="footer-logo mb-15px d-inline-block"><img
                        src="images/logo-horizontal-dark.svg" data-at2x="images/logo-horizontal-dark.svg" alt=""></a>
                <p class="w-90 lg-w-100">Lorem ipsum amet adipiscing elit to eiusmod ad tempor incididunt enim.</p>
                <!-- <div class="elements-social social-icon-style-02 mt-20px xs-mt-15px">
                        <ul class="small-icon light">
                            <li class="my-0"><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="my-0"><a class="twitter" href="http://www.twitter.com" target="_blank"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li class="my-0"><a class="instagram" href="http://www.instagram.com" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div> -->
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fs-17 fw-500 d-block text-white mb-5px">Seaway Tech Solutions</span>
                    <ul>
                        <li><a href="demo-hosting-about.html">About</a></li>
                        <li><a href="demo-hosting-hosting.html">Hosting</a></li>
                        <li><a href="demo-hosting-domain.html">Domain</a></li>
                        <li><a href="demo-hosting-pricing.html">Pricing</a></li>
                    </ul>
                </div> -->
            <!-- end footer column -->
            <!-- start footer column -->
            <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-4 order-lg-3">
                    <span class="fs-17 fw-500 d-block text-white mb-5px">Customer</span>
                    <ul>
                        <li><a href="demo-hosting-support.html">Client support</a></li>
                        <li><a href="demo-hosting-support.html">Help center</a></li>
                        <li><a href="demo-hosting-about.html">System status</a></li>
                        <li><a href="demo-hosting-contact.html">Feedback</a></li>
                    </ul>
                </div> -->
            <!-- end footer column -->
            <!-- start footer column -->
            <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-5 order-lg-4">
                    <span class="fs-17 fw-500 d-block text-white mb-5px">Say hello</span>
                    <span class="d-inline-flex w-100">Have a question?</span>
                    <a href="mailto:hi@domain.com"
                        class="text-white lh-22 text-decoration-line-bottom d-inline-block mb-20px">hi@domain.com</a>
                    <span class="d-inline-flex w-100">Customer care</span>
                    <a href="tel:12345678910" class="text-white lh-22 d-inline-flex">+1 234 567 8910</a>
                </div> -->
            <!-- end footer column -->
            <!-- start footer column -->
            <div
                class="col-lg-4 col-sm-6 ps-30px sm-ps-15px md-mb-40px xs-mb-0 order-sm-2 order-lg-5 d-flex justify-content-start justify-content-lg-end align-items-center">
                <img class="h-60px xs-h-60px" src="images/port-lighthouse.webp" data-at2x="images/port-lighthouse.webp"
                    alt="">
            </div>
            <!-- end footer column -->
        </div>
        <div class="border-top border-color-transparent-white-light pt-35px pb-35px text-center">
            <span class="fs-13 w-60 lg-w-70 md-w-100 d-block mx-auto lh-22">This site is protected by reCAPTCHA and
                the Google <a href="#" class="text-white text-decoration-line-bottom">privacy policy</a> and <a href="#"
                    class="text-white text-decoration-line-bottom">terms of service</a> apply. You must not
                use this website if you disagree with any of these website standard terms and conditions.</span>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- start sticky elements -->
<div class="sticky-wrap z-index-1 d-none d-xl-inline-block" data-animation-delay="100" data-shadow-animation="true">
    <div class="elements-social social-icon-style-10">
        <ul class="fs-14">
            <li class="me-30px"><a class="facebook" href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook-f me-10px"></i>
                    <span class="alt-font">Facebook</span>
                </a>
            </li>
            <li class="me-30px">
                <a class="twitter" href="http://www.twitter.com" target="_blank">
                    <i class="fa-brands fa-twitter me-10px"></i>
                    <span class="alt-font">Twitter</span>
                </a>
            </li>
            <li>
                <a class="instagram" href="http://www.instagram.com" target="_blank">
                    <i class="fa-brands fa-instagram me-10px"></i>
                    <span class="alt-font">Instagram</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- end sticky elements -->
<!-- start scroll progress -->
<div class="scroll-progress d-none d-xxl-block">
    <a href="#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
    </a>
</div>
<!-- end scroll progress -->
<!-- javascript libraries -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/vendors.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>

</html>