<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Seaway - Because Everyone Deserves a Great Website</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ThemeZaa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Seaway - Because Everyone Deserves a Great Website">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/square-logo.jpg.webp">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-57x57.jpg.webp">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.jpg.webp">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.jpg.webp">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="css/vendors.css" />
    <link rel="stylesheet" href="css/icon.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/hosting.css" />
</head>

<body data-mobile-nav-style="classic" data-mobile-nav-bg-color="">
    <!-- start header -->
    <header class="header-with-topbar">
        <!-- <div class="header-top-bar top-bar-dark cover-background"
            style="background-image: url('images/demo-hosting-header-bg.jpg.webp')">
            <div class="container-fluid">
                <div class="row h-42px align-items-center m-0">
                    <div class="col-md-7 text-center text-md-start">
                        <div class="fs-13 text-white"><span class="opacity-6 me-5px">Get a website for as low as
                            </span><span class="fw-600">$50/mo*</span></div>
                    </div>
                    <div class="col-5 text-end d-none d-md-flex">
                        <a href="mailto:eric@seawaytechsolutions.com"
                            class="widget fs-13 text-white text-white-hover opacity-8"><i
                                class="feather icon-feather-mail text-white position-relative top-1px"></i>eric@seawaytechsolutions.com</a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- start navigation -->
        <nav class="navbar navbar-transparent navbar-expand-lg header-transparent bg-transparent header-reverse"
            data-header-hover="light">
            <div class="container-fluid">
                <div class="col-auto col-lg-2 me-lg-0 me-auto">
                    <a class="navbar-brand" href="/">
                        <img src="images/logo-horizontal-dark.svg" data-at2x="images/logo-horizontal-dark.svg" alt=""
                            class="default-logo">
                        <img src="images/logo-horizontal-light.svg" data-at2x="images/logo-horizontal-light.svg" alt=""
                            class="alt-logo">
                        <img src="images/logo-horizontal-light.svg" data-at2x="images/logo-horizontal-light.svg" alt=""
                            class="mobile-logo">
                    </a>
                </div>
                <div class="col-auto menu-order position-static">
                    <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav align-items-end d-flex">
                            <li class="nav-item ms-auto"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item ms-auto"><a href="/about" class="nav-link">About</a></li>
                            <li class="nav-item ms-auto"><a href="/services" class="nav-link">Services</a></li>
                            <li class="nav-item ms-auto"><a href="#pricing-section"
                                    class="nav-link section-link">Pricing</a>
                            </li>
                            <li class="nav-item ms-auto"><a href="/contact" class="nav-link">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto col-lg-2 text-end lg-pe-5px">
                    <div class="header-icon">
                        <!-- <div class="header-search-icon icon d-none d-sm-flex">
                            <a href="#" class="search-form-icon header-search-form"><i
                                    class="align-middle feather icon-feather-search fs-18 me-5px xl-me-0"></i><span
                                    class="align-middle d-none d-xxl-inline-block"> Search</span></a>
                            <div class="search-form-wrapper">
                                <button title="Close" type="button" class="search-close">×</button>
                                <form id="search-form" role="search" method="get" class="search-form text-left"
                                    action="search-result.html">
                                    <div class="search-form-box">
                                        <h2 class="text-dark-gray fw-700 ls-minus-2px text-center mb-4 alt-font">What
                                            are you looking for?</h2>
                                        <input class="search-input" id="search-form-input5e219ef164995"
                                            placeholder="Enter your keywords..." name="s" value="" type="text"
                                            autocomplete="off">
                                        <button type="submit" class="search-button">
                                            <i class="feather icon-feather-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
    </header>
    <!-- end header -->