<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Seaway - Because Everyone Deserves a Great Website</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ThemeZaa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Seaway - Because Everyone Deserves a Great Website">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/square-logo.jpg.webp">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-57x57.jpg.webp">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.jpg.webp">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.jpg.webp">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="css/vendors.css" />
    <link rel="stylesheet" href="css/icon.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/hosting.css" />
</head>

<body data-mobile-nav-style="classic" data-mobile-nav-bg-color="">
    <!-- start header -->
    <header class="header-with-topbar">
        <!-- <div class="header-top-bar top-bar-dark cover-background"
            style="background-image: url('images/demo-hosting-header-bg.jpg.webp')">
            <div class="container-fluid">
                <div class="row h-42px align-items-center m-0">
                    <div class="col-md-7 text-center text-md-start">
                        <div class="fs-13 text-white"><span class="opacity-6 me-5px">Get a website for as low as
                            </span><span class="fw-600">$50/mo*</span></div>
                    </div>
                    <div class="col-5 text-end d-none d-md-flex">
                        <a href="mailto:eric@seawaytechsolutions.com"
                            class="widget fs-13 text-white text-white-hover opacity-8"><i
                                class="feather icon-feather-mail text-white position-relative top-1px"></i>eric@seawaytechsolutions.com</a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- start navigation -->
        <nav class="navbar navbar-transparent navbar-expand-lg header-transparent bg-transparent header-reverse"
            data-header-hover="light">
            <div class="container-fluid">
                <div class="col-auto col-lg-2 me-lg-0 me-auto">
                    <a class="navbar-brand" href="demo-hosting.html">
                        <img src="images/logo-horizontal-dark.svg" data-at2x="images/logo-horizontal-dark.svg" alt=""
                            class="default-logo">
                        <img src="images/logo-horizontal-light.svg" data-at2x="images/logo-horizontal-light.svg" alt=""
                            class="alt-logo">
                        <img src="images/logo-horizontal-light.svg" data-at2x="images/logo-horizontal-light.svg" alt=""
                            class="mobile-logo">
                    </a>
                </div>
                <div class="col-auto menu-order position-static">
                    <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav align-items-end d-flex">
                            <li class="nav-item ms-auto"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item ms-auto"><a href="/about" class="nav-link">About</a></li>
                            <li class="nav-item ms-auto"><a href="/services" class="nav-link">Services</a></li>
                            <li class="nav-item ms-auto"><a href="#pricing-section"
                                    class="nav-link section-link">Pricing</a>
                            </li>
                            <li class="nav-item ms-auto"><a href="/contact" class="nav-link">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto col-lg-2 text-end lg-pe-5px">
                    <div class="header-icon">
                        <!-- <div class="header-search-icon icon d-none d-sm-flex">
                            <a href="#" class="search-form-icon header-search-form"><i
                                    class="align-middle feather icon-feather-search fs-18 me-5px xl-me-0"></i><span
                                    class="align-middle d-none d-xxl-inline-block"> Search</span></a>
                            <div class="search-form-wrapper">
                                <button title="Close" type="button" class="search-close">×</button>
                                <form id="search-form" role="search" method="get" class="search-form text-left"
                                    action="search-result.html">
                                    <div class="search-form-box">
                                        <h2 class="text-dark-gray fw-700 ls-minus-2px text-center mb-4 alt-font">What
                                            are you looking for?</h2>
                                        <input class="search-input" id="search-form-input5e219ef164995"
                                            placeholder="Enter your keywords..." name="s" value="" type="text"
                                            autocomplete="off">
                                        <button type="submit" class="search-button">
                                            <i class="feather icon-feather-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
    </header>
    <!-- end header -->
    <!-- start banner -->
    <section
        class="cover-background full-screen bg-dark-gray ipad-top-space-margin position-relative section-dark md-h-auto"
        style="background-image: url('images/demo-hosting-home-bg.jpg.webp')">
        <div id="particles-style-01" class="h-100 position-absolute left-0px top-0 w-100" data-particle="true"
            data-particle-options='{"particles": {"number": {"value": 60,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#ffffff"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.8,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 5,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "up","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"false": true,"mode": "push"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'>
        </div>
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-xl-7 col-lg-8 col-md-10 text-white position-relative text-center text-lg-start">
                    <div class="fs-90 sm-fs-80 xs-fs-70 fw-600 mb-20px ls-minus-4px overflow-hidden">
                        <div class="d-inline-block"
                            data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 400 }'>
                            Websites for <br>
                            <span class="fs-90 sm-fs-80 xs-fs-70 fw-600 mb-20px ls-minus-4px overflow-hidden"
                                data-fancy-text='{ "effect": "rotate", "string": ["local", "family", "handyman", "cleaning", "I.T.", "retail", "consulting", "fishing", "landscaping", "painting", "restaurant", "design"], "duration": "2200" }'></span>
                            <!-- <div class="highlight-separator" data-shadow-animation="true" data-animation-delay="1500">
                                everyone.<span><img src="images/highlight-separator.svg" alt=""></span>
                            </div> -->
                            <br>
                            businesses.
                        </div>
                    </div>
                    <hr>
                    <div class="fs-19 fw-300 mb-30px w-80 sm-w-100 opacity-10 d-block mx-auto mx-lg-0 overflow-hidden">
                        <span class="d-inline-block lh-32"
                            data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 400, "delay": 0 }'>Seaway
                            is a small family business whose mission is to build affordable, world-class websites for
                            other
                            small family
                            businesses.</span>
                    </div>
                    <div class="overflow-hidden pt-5px">
                        <a href="demo-hosting-hosting.html"
                            class="btn btn-extra-large btn-yellow btn-rounded btn-box-shadow btn-switch-text d-inline-block me-15px xs-m-10px align-middle fw-600"
                            data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 400, "delay": 0 }'>
                            <span>
                                <span class="btn-double-text" data-text="Contact Us">Get started</span>
                                <span><i class="feather icon-feather-arrow-right"></i></span>
                            </span>
                        </a>
                        <div class="text-white fs-15 d-inline-block last-paragraph-no-margin align-middle"
                            data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 400, "delay": 0 }'>
                            <p class="opacity-6 ls-minus-05px d-inline-block">Starting at only</p>
                            <span class="fw-500 d-inline-block ">$50/mo*</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4">
                    <div class="outside-box-right-7 position-relative"
                        data-anime='{ "opacity": [0, 1], "translateY": [100, 0], "easing": "easeOutQuad", "duration": 400, "delay": 0 }'>
                        <img class="w-100  animation-float" src="images/seaway-centered.svg" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner -->
    <!-- start section -->
    <section class="bg-very-light-gray pt-20px pb-20px sm-pt-40px"
        data-anime='{ "opacity": [0, 1], "translateY": [0, 0], "easing": "easeOutQuad", "duration": 1000,"staggervalue": 300, "delay": 100 }'>
        <div class="container overlap-section">
            <div
                class="row justify-content-center overlap-section border-radius-6px overflow-hidden g-0 box-shadow-extra-large">
                <div
                    class="col-lg-9 text-center fw-600 fs-24 lg-fs-22 ls-minus-05px text-dark-gray bg-white p-30px md-p-20px">
                    Want a free website? We want references!
                </div>
                <div class="col-lg-3 text-center bg-yellow pt-30px pb-30px md-p-20px"><a
                        href="demo-hosting-pricing.html"
                        class="fw-700 text-dark-gray text-dark-gray-hover fs-24 lg-fs-20 ls-minus-05px">Contact us<i
                            class="feather icon-feather-arrow-right ms-5px"></i></a></div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="cover-background pt-5 xs-pt-8" style="background-image: url('images/sand-services-bg.jpg.webp')">
        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-lg-8 text-center"
                    data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 900, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span class="text-base-color fw-600 mb-5px text-uppercase d-block">Technology solutions</span>
                    <h2 class="text-dark-gray fw-700 ls-minus-2px">Why Seaway?</h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center"
                data-anime='{ "el": "childs",  "translateY": [0, 0], "perspective": [1200, 1200], "scale": [1.05, 1], "rotateX": [50, 0], "opacity": [0,1], "duration":600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <!-- start features box item -->
                <div class="col icon-with-text-style-07 transition-inner-all md-mb-30px">
                    <div
                        class="bg-white feature-box h-100 justify-content-start box-shadow-quadruple-large box-shadow-quadruple-large-hover text-start p-17 sm-p-14 border-radius-6px">
                        <div class="feature-box-icon mb-30px">
                            <img src="images/full-stack.svg" class="h-50px" alt="">
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block fw-600 text-dark-gray fs-18 ls-minus-05px">Full-stack
                                ownership</span>
                            <p class="mb-10px">We handle every component of building your website - both frontend and
                                backend.</p>
                            <a href="demo-hosting-hosting.html"
                                class="btn btn-link btn-hover-animation-switch btn-extra-large text-base-color text-uppercase-inherit">
                                <span>
                                    <span class="btn-text">See how it works</span>
                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="col icon-with-text-style-07 transition-inner-all md-mb-30px">
                    <div
                        class="bg-white feature-box h-100 justify-content-start box-shadow-quadruple-large box-shadow-quadruple-large-hover text-start p-17 sm-p-14 border-radius-6px">
                        <div class="feature-box-icon mb-30px">
                            <img src="images/pricing-savings.svg" class="h-50px" alt="">
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block fw-600 text-dark-gray fs-18 ls-minus-05px">Competitive
                                pricing</span>
                            <p class="mb-10px">Custom websites from larger companies can be $5,000 or more. We offer
                                this at a fraction of the cost.</p>
                            <a href="demo-hosting-hosting.html"
                                class="btn btn-link btn-hover-animation-switch btn-extra-large text-base-color text-uppercase-inherit">
                                <span>
                                    <span class="btn-text">See our plans</span>
                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="col icon-with-text-style-07 transition-inner-all xs-mb-30px">
                    <div
                        class="bg-white feature-box h-100 justify-content-start box-shadow-quadruple-large box-shadow-quadruple-large-hover text-start p-17 sm-p-14 border-radius-6px">
                        <div class="feature-box-icon mb-30px">
                            <img src="images/search-engine.svg" class="h-50px" alt="">
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block fw-600 text-dark-gray fs-18 ls-minus-05px">Search engine
                                optimization</span>
                            <p class="mb-10px">All of our sites are SEO optimized so that you can meet customers where
                                they are.</p>
                            <a href="demo-hosting-hosting.html"
                                class="btn btn-link btn-hover-animation-switch btn-extra-large text-base-color text-uppercase-inherit">
                                <span>
                                    <span class="btn-text">See how we do it</span>
                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="col icon-with-text-style-07 transition-inner-all">
                    <div
                        class="bg-white feature-box h-100 justify-content-start box-shadow-quadruple-large box-shadow-quadruple-large-hover text-start p-17 sm-p-14 border-radius-6px">
                        <div class="feature-box-icon mb-30px">
                            <img src="images/service-face.svg" class="h-50px" alt="">
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block fw-600 text-dark-gray fs-18 ls-minus-05px">Local + personal
                                service</span>
                            <p class="mb-10px">Unlike other web development companies, you'll work with us directly from
                                start to finish.</p>
                            <a href="demo-hosting-hosting.html"
                                class="btn btn-link btn-hover-animation-switch btn-extra-large text-base-color text-uppercase-inherit">
                                <span>
                                    <span class="btn-text">Meet our team</span>
                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="overflow-hidden">
        <div class="container">
            <div class="row align-items-center justify-content-center mb-6 sm-mb-50px position-relative">
                <div class="col-lg-6 col-md-10 position-relative md-mb-30px"
                    data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
                    <img class="w-100" src="images/ship-sailing.svg" data-bottom-top="transform: translateY(-50px)"
                        data-top-bottom="transform: translateY(50px)" alt="">
                </div>
                <div class="col-lg-5 offset-lg-1 last-paragraph-no-margin"
                    data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "delay": 300, "easing": "easeOutCirc" }'>
                    <span class="text-base-color fw-600 mb-15px text-uppercase d-block">More features</span>
                    <h2 class="fw-600 text-dark-gray w-90 lg-w-100 text-dark-gray fw-700 ls-minus-2px">More than just a
                        website.</h2>
                    <p class="w-90 sm-w-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio
                        asperiores doloribus vitae! Similique, enim dolor? Officia hic facere consectetur vero quam
                        delectus optio nostrum, est, cum qui perspiciatis minus eaque?</p>
                    <ul class="p-0 mb-25px mt-15px list-style-01 w-90 lg-w-100">
                        <li
                            class="border-color-extra-medium-gray fw-600 text-dark-gray d-flex align-items-center pt-15px pb-15px">
                            <div
                                class="feature-box-icon feature-box-icon-rounded w-35px h-35px rounded-circle bg-solitude-blue me-10px text-center d-flex align-items-center justify-content-center flex-shrink-0">
                                <i class="fa-solid fa-check fs-13 text-base-color"></i>
                            </div>
                            Pros list item 1
                        </li>
                        <li
                            class="border-color-extra-medium-gray fw-600 text-dark-gray d-flex align-items-center pt-15px pb-15px">
                            <div
                                class="feature-box-icon feature-box-icon-rounded w-35px h-35px rounded-circle bg-solitude-blue me-10px text-center d-flex align-items-center justify-content-center flex-shrink-0">
                                <i class="fa-solid fa-check fs-13 text-base-color"></i>
                            </div>
                            Pros list item 2
                        </li>
                        <li
                            class="border-color-extra-medium-gray fw-600 text-dark-gray d-flex align-items-center pt-15px pb-15px">
                            <div
                                class="feature-box-icon feature-box-icon-rounded w-35px h-35px rounded-circle bg-solitude-blue me-10px text-center d-flex align-items-center justify-content-center flex-shrink-0">
                                <i class="fa-solid fa-check fs-13 text-base-color"></i>
                            </div>
                            Pros list item 3
                        </li>
                    </ul>
                    <a href="demo-hosting-pricing.html"
                        class="btn btn-large btn-dark-gray btn-box-shadow btn-rounded btn-switch-text">
                        <span>
                            <span class="btn-double-text" data-text="See our plans">Competitive pricing</span>
                            <span><i class="feather icon-feather-arrow-right"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="row align-items-center justify-content-center border border-color-extra-medium-gray border-radius-100px md-border-radius-6px p-50px lg-p-20px m-0 box-shadow-quadruple-large"
                data-bottom-top="transform:scale(1.1, 1.1) translateY(30px);"
                data-top-bottom="transform:scale(1, 1) translateY(-30px);">
                <!-- start process step item -->
                <div class="col-lg-4 col-md-6 process-step-style-07 position-relative md-mb-30px">
                    <div class="process-step-item d-flex align-items-center">
                        <div class="process-step-icon-wrap position-relative">
                            <div
                                class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px bg-base-color fs-17 fw-500">
                                <span class="number position-relative z-index-1 text-white">01</span>
                            </div>
                        </div>
                        <div class="process-content ps-20px last-paragraph-no-margin">
                            <span class="d-block fw-600 text-dark-gray fs-17 ls-minus-05px alt-font">Choose a
                                plan</span>
                            <p>Lorem ipsum simply printing</p>
                        </div>
                    </div>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col-lg-4 col-md-6 process-step-style-07 position-relative md-mb-30px">
                    <div class="process-step-item d-flex align-items-center">
                        <div class="process-step-icon-wrap position-relative">
                            <div
                                class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px bg-base-color fs-17 fw-500">
                                <span class="number position-relative z-index-1 text-white">02</span>
                            </div>
                        </div>
                        <div class="process-content ps-20px last-paragraph-no-margin">
                            <span class="d-block fw-600 text-dark-gray fs-17 ls-minus-05px alt-font">Send us your brand
                                assets</span>
                            <p>Lorem ipsum simply printing</p>
                        </div>
                    </div>
                </div>
                <!-- end process step item -->
                <!-- start process step item -->
                <div class="col-lg-4 col-md-6 process-step-style-07 position-relative">
                    <div class="process-step-item d-flex align-items-center">
                        <div class="process-step-icon-wrap position-relative">
                            <div
                                class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px bg-base-color fs-17 fw-500">
                                <span class="number position-relative z-index-1 text-white">03</span>
                            </div>
                        </div>
                        <div class="process-content ps-20px last-paragraph-no-margin">
                            <span class="d-block fw-600 text-dark-gray fs-17 ls-minus-05px alt-font">We create your
                                website</span>
                            <p>Lorem ipsum simply printing</p>
                        </div>
                    </div>
                </div>
                <!-- end process step item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="section-dark overflow-hidden position-relative bg-base-color py-0 lg-pt-8 lg-pb-8">
        <div id="particles-style-02" class="h-100 position-absolute left-0px top-0 w-100" data-particle="true"
            data-particle-options='{"particles": {"number": {"value": 18,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#ffffff"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.3,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'>
        </div>
        <div class="container">
            <div
                class="row align-items-center ps-50px pe-50px lg-px-0 position-relative z-index-1 justify-content-md-center">
                <div class="col-lg-6 md-mb-50px">
                    <div class="row">
                        <div class="d-none d-sm-block col-sm-6 xs-mb-30px">
                            <img src="images/phone-before.webp"
                                class="w-100 box-shadow-quadruple-large border-radius-10px"
                                data-bottom-top="transform: translateY(-250px)"
                                data-top-bottom="transform: translateY(200px)" alt="">
                        </div>
                        <div class="d-none d-sm-block col-sm-6">
                            <img src="images/phone-after.webp"
                                class="w-100 box-shadow-quadruple-large border-radius-10px"
                                data-bottom-top="transform: translateY(200px)"
                                data-top-bottom="transform: translateY(-300px)" alt="">
                        </div>
                        <div class="d-sm-none col-sm-6">
                            <img src="images/phone-after-mobile.webp"
                                class="w-100 box-shadow-quadruple-large border-radius-10px"
                                data-bottom-top="transform: translateY(200px)"
                                data-top-bottom="transform: translateY(-300px)" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-8 text-center text-lg-start counter-style-04">
                    <!-- start counter item -->
                    <div class="col md-mb-50px xs-mb-30px">
                        <h1 class="vertical-counter d-inline-flex text-white fw-700 mb-0 ls-minus-4px md-ls-minus-2px"
                            data-text="%" data-to="63">
                        </h1>
                    </div>
                    <!-- end counter item -->
                    <h4 class="fw-800 text-white ls-minus-1px">of web traffic is via mobile.</h4>
                    <span class="fs-18 w-80 xl-w-100 d-block mb-35px text-white">We build your website mobile-first
                        to ensure your customers get the best experience.</span>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="bg-very-light-gray background-position-center-top sm-background-image-none"
        style="background-image: url('images/vertical-line-bg-medium-gray.svg')">
        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="fw-600 text-dark-gray ls-minus-1px">Meet our team</h3>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2"
                data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <!-- start team member item -->
                <div class="col text-center team-style-01 md-mb-30px">
                    <figure class="mb-0 hover-box box-hover position-relative">
                        <img src="images/eric.jpg.webp" alt="" class="border-radius-6px" />
                        <figcaption class="w-100 p-30px lg-p-20px bg-white">
                            <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                <span class="fs-18 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Eric</span>
                                <p class="m-0">Owner + Lead Developer</p>
                                <div class="social-icon hover-text mt-20px lg-mt-10px social-icon-style-05">
                                    <a href="https://www.facebook.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Fb.</a>
                                    <a href="https://www.instagram.com/" target="_blank"
                                        class="fw-600 text-dark-gray">In.</a>
                                    <a href="https://www.twitter.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Tw.</a>
                                    <a href="https://dribbble.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Dr.</a>
                                </div>
                            </div>
                            <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                        </figcaption>
                    </figure>
                </div>
                <!-- end team member item -->
                <!-- start team member item -->
                <div class="col text-center team-style-01 md-mb-30px">
                    <figure class="mb-0 hover-box box-hover position-relative">
                        <img src="images/shannon.jpg.webp" alt="" class="border-radius-6px" />
                        <figcaption class="w-100 p-30px lg-p-20px bg-white">
                            <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                <span class="fs-18 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Shannon</span>
                                <p class="m-0">Design + Branding</p>
                                <div class="social-icon hover-text mt-20px lg-mt-10px">
                                    <a href="https://www.facebook.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Fb.</a>
                                    <a href="https://www.instagram.com/" target="_blank"
                                        class="fw-600 text-dark-gray">In.</a>
                                    <a href="https://www.twitter.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Tw.</a>
                                    <a href="https://dribbble.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Dr.</a>
                                </div>
                            </div>
                            <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                        </figcaption>
                    </figure>
                </div>
                <!-- end team member item -->
                <!-- start team member item -->
                <div class="col text-center team-style-01 xs-mb-30px">
                    <figure class="mb-0 hover-box box-hover position-relative">
                        <img src="images/henry.jpg.webp" alt="" class="border-radius-6px" />
                        <figcaption class="w-100 p-30px lg-p-20px bg-white">
                            <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                <span class="fs-18 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Henry</span>
                                <p class="m-0">Chief Canine Officer</p>
                                <div class="social-icon hover-text mt-20px lg-mt-10px">
                                    <a href="https://www.facebook.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Fb.</a>
                                    <a href="https://www.instagram.com/" target="_blank"
                                        class="fw-600 text-dark-gray">In.</a>
                                    <a href="https://www.twitter.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Tw.</a>
                                    <a href="https://dribbble.com/" target="_blank"
                                        class="fw-600 text-dark-gray">Dr.</a>
                                </div>
                            </div>
                            <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                        </figcaption>
                    </figure>
                </div>
                <!-- end team member item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section id="pricing-section" class="pb-0">
        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-lg-8 text-center"
                    data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span class="text-base-color fw-600 mb-5px text-uppercase d-block">Our plans</span>
                    <h2 class="fw-600 text-dark-gray text-dark-gray fw-700 ls-minus-2px">Transparent pricing</h2>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mb-6 md-mb-8">
                <!-- start pricing item -->
                <div class="col-lg-4 col-md-8 pricing-table-style-08 md-mb-30px"
                    data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <!-- start pricing table -->
                    <div
                        class="pricing-table text-center pt-16 pb-35px bg-white box-shadow-quadruple-large border-radius-6px">
                        <div class="pricing-header ps-18 pe-18 md-ps-12 md-pe-12">
                            <div
                                class="d-inline-block fs-12 text-uppercase bg-white ps-20px pe-20px fw-600 text-dark-gray mb-30px border-radius-100px box-shadow-large border border-1 border-color-extra-medium-gray">
                                Flex</div>
                            <h2 class="text-dark-gray fw-600 mb-10px ls-minus-3px"><sup class="fs-30">$</sup>50 <sup
                                    class="fs-30">/ mo</sup></h2>
                            <p class="mb-25px lh-28">All the basics for businesses that are just getting started.</p>
                            <a href="demo-hosting-pricing.html"
                                class="btn btn-large btn-dark-gray btn-round-edge btn-switch-text btn-box-shadow">
                                <span>
                                    <span class="btn-double-text" data-text="Choose package">Choose package</span>
                                </span>
                            </a>
                            <span class="fs-13 w-100 d-block mt-5px">*Monthly billing, minimum 24 months.</span>
                        </div>
                        <div class="pricing-body pt-15px pb-25px">
                            <ul class="list-style-01 ps-0 mb-0">
                                <li class="border-color-transparent-dark-very-light pt-10px pb-10px">Unlimited bandwidth
                                </li>
                                <li class="border-color-transparent-dark-very-light pt-10px pb-10px"><span
                                        class="opacity-6">Full backup systems</span></li>
                                <li class="border-color-transparent-dark-very-light border-bottom pt-10px pb-10px"><span
                                        class="opacity-6">Unlimited database</span></li>
                            </ul>
                        </div>
                        <!-- <div class="pricing-footer">
                            <a href="demo-hosting-pricing.html"
                                class="text-decoration-line-bottom d-inline-block text-dark-gray fw-500 ls-minus-05px">Get
                                your 30 day free trial</a>
                        </div> -->
                    </div>
                </div>
                <!-- end pricing item -->
                <!-- start pricing item -->
                <div class="col-lg-4 col-md-8 pricing-table-style-08 md-mb-30px"
                    data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <!-- start pricing table -->
                    <div
                        class="pricing-table text-center pt-16 pb-35px bg-white box-shadow-quadruple-large border-radius-6px">
                        <div class="pricing-header ps-18 pe-18 md-ps-12 md-pe-12">
                            <div
                                class="d-inline-block fs-12 text-uppercase bg-white ps-20px pe-20px fw-600 text-dark-gray mb-30px border-radius-100px box-shadow-large border border-1 border-color-extra-medium-gray">
                                Basic</div>
                            <h2 class="text-dark-gray fw-600 mb-10px ls-minus-3px"><sup class="fs-30">$</sup>1,000</h2>
                            <p class="mb-25px lh-28">All the basics for businesses that are just getting started.</p>
                            <a href="demo-hosting-pricing.html"
                                class="btn btn-large btn-dark-gray btn-round-edge btn-switch-text btn-box-shadow">
                                <span>
                                    <span class="btn-double-text" data-text="Choose package">Choose package</span>
                                </span>
                            </a>
                            <span class="fs-13 w-100 d-block mt-5px">One-time charge</span>
                        </div>
                        <div class="pricing-body pt-15px pb-25px">
                            <ul class="list-style-01 ps-0 mb-0">
                                <li class="border-color-transparent-dark-very-light pt-10px pb-10px">Unlimited bandwidth
                                </li>
                                <li class="border-color-transparent-dark-very-light pt-10px pb-10px">Full backup systems
                                </li>
                                <li class="border-color-transparent-dark-very-light border-bottom pt-10px pb-10px"><span
                                        class="opacity-6">Unlimited database</span></li>
                            </ul>
                        </div>
                        <!-- <div class="pricing-footer">
                            <a href="demo-hosting-pricing.html"
                                class="text-decoration-line-bottom d-inline-block text-dark-gray fw-500 ls-minus-05px">Get
                                your 30 day free trial</a>
                        </div> -->
                    </div>
                </div>
                <!-- end pricing item -->
                <!-- start pricing item -->
                <div class="col-lg-4 col-md-8 pricing-table-style-08"
                    data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <!-- start pricing table -->
                    <div
                        class="pricing-table text-center pt-16 pb-35px bg-white box-shadow-quadruple-large border-radius-6px">
                        <div class="pricing-header ps-18 pe-18 md-ps-12 md-pe-12">
                            <div
                                class="d-inline-block fs-12 text-uppercase bg-white ps-20px pe-20px fw-600 text-dark-gray mb-30px border-radius-100px box-shadow-large border border-1 border-color-extra-medium-gray">
                                E-Commerce</div>
                            <h2 class="text-dark-gray fw-600 mb-10px ls-minus-3px"><sup class="fs-30">$</sup>3,000</h2>
                            <p class="mb-25px lh-28">All the basics for businesses that are just getting started.</p>
                            <a href="demo-hosting-pricing.html"
                                class="btn btn-large btn-dark-gray btn-round-edge btn-switch-text btn-box-shadow">
                                <span>
                                    <span class="btn-double-text" data-text="Choose package">Choose package</span>
                                </span>
                            </a>
                            <span class="fs-13 w-100 d-block mt-5px">One-time charge</span>
                        </div>
                        <div class="pricing-body pt-15px pb-25px">
                            <ul class="list-style-01 ps-0 mb-0">
                                <li class="border-color-transparent-dark-very-light pt-10px pb-10px">Unlimited bandwidth
                                </li>
                                <li class="border-color-transparent-dark-very-light pt-10px pb-10px">Full backup systems
                                </li>
                                <li class="border-color-transparent-dark-very-light border-bottom pt-10px pb-10px">
                                    Unlimited database</li>
                            </ul>
                        </div>
                        <!-- <div class="pricing-footer">
                            <a href="demo-hosting-pricing.html"
                                class="text-decoration-line-bottom d-inline-block text-dark-gray fw-500 ls-minus-05px">Get
                                your 30 day free trial</a>
                        </div> -->
                    </div>
                </div>
                <!-- end pricing item -->
            </div>
            <!-- <div class="row"
                data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="col-12 text-center">
                    <div
                        class="bg-dark-gray fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 me-10px xs-m-5px d-inline-block align-middle">
                        Limited offer</div>
                    <div class="text-dark-gray fw-500 d-inline-block align-middle ls-minus-05px fs-18">Save 20% on
                        annual plans. <a href="demo-hosting-pricing.html"
                            class="text-decoration-line-bottom text-dark-gray d-inline-block">Explore pricing plans<span
                                class="bg-dark-gray"></span></a></div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <!-- <section class="overflow-hidden">
        <div class="container">
            <div class="row align-items-center justify-content-center border-radius-8px p-4 xs-p-7 text-center text-lg-start g-0 cover-background"
                style="background-image: url('images/demo-hosting-home-03.jpg.webp')"
                data-bottom-top="transform:scale(1.1, 1.1) translateY(30px);"
                data-top-bottom="transform:scale(1.0, 1.0) translateY(-30px);">
                <div class="col-lg-6 col-md-9 md-mb-10px icon-with-text-style-08">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-100px h-100px rounded-circle border border-2 border-color-transparent-white-light me-30px xs-me-25px">
                            <img src="images/demo-hosting-home-icon.svg" class="w-50px h-50px" alt="">
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <h5 class="d-inline-block fw-600 text-white mb-0">Are you ready for a better productive
                                business?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <div class="text-white d-inline-block last-paragraph-no-margin me-20px xs-m-10px">
                        <p class="opacity-8 d-inline-block">Starting at only</p>
                        <span class="fw-600 d-inline-block text-decoration-line-bottom">$2.78 per month</span>
                    </div>
                    <a href="#" class="btn btn-medium btn-yellow btn-rounded fw-600 btn-switch-text btn-box-shadow">
                        <span>
                            <span class="btn-double-text" data-text="Sign up free">Sign up free</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- end section -->
    <!-- start section -->
    <section class="pt-0">
        <div class="container">
            <div class="row justify-content-center align-items-center mb-3">
                <div class="col-lg-7 col-md-8 sm-mb-15px"
                    data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <h2 class="text-dark-gray fw-700 ls-minus-1px mb-0">Have a question?</h2>
                </div>
                <div class="col-lg-3 col-md-4 text-start text-md-end"
                    data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span class="text-dark-gray fs-30 align-middle fancy-text-style-4 ls-minus-1px">&#128075; Say <span
                            class="fw-600"
                            data-fancy-text='{ "effect": "rotate", "string": ["hello!", "hallå!", "salve!"] }'></span></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="accordion accordion-style-02" id="accordion-style-02"
                        data-active-icon="icon-feather-chevron-up" data-inactive-icon="icon-feather-chevron-down"
                        data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <!-- start accordion item -->
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01"
                                    aria-expanded="true" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                        <i class="feather icon-feather-chevron-down icon-extra-medium"></i><span
                                            class="fw-600 fs-18">How long is this site live?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-01" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-style-02">
                                <div
                                    class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        ipsum has been the industry's standard dummy text ever unknown printer took a
                                        galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02"
                                    aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                        <i class="feather icon-feather-chevron-down icon-extra-medium"></i><span
                                            class="fw-600 fs-18">Can i install/upload anything I want?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-02" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-style-02">
                                <div
                                    class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        ipsum has been the industry's standard dummy text ever unknown printer took a
                                        galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-light-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03"
                                    aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                        <i class="feather icon-feather-chevron-down icon-extra-medium"></i><span
                                            class="fw-600 fs-18">How can i migrate to another site?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-03" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-style-02">
                                <div
                                    class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        ipsum has been the industry's standard dummy text ever unknown printer took a
                                        galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04"
                                    aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                        <i class="feather icon-feather-chevron-down icon-extra-medium"></i><span
                                            class="fw-600 fs-18">Can i change the domain you give me?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-04" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-style-02">
                                <div
                                    class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        ipsum has been the industry's standard dummy text ever unknown printer took a
                                        galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="pt-4">
        <div class="container">
            <div class=" text-center"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span class="text-base-color fw-600 mb-40px text-uppercase d-block">Some of our supported
                    technologies:</span>
            </div>
            <div class="row position-relative clients-style-08"
                data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col swiper text-center feather-shadow"
                    data-slider-options='{ "slidesPerView": 2, "spaceBetween":0, "speed": 4000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": true, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 } }, "effect": "slide" }'>
                    <div class="swiper-wrapper marquee-slide">
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-github.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-html5.svg" class="h-60px xs-h-50px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-css.svg" class="h-60px xs-h-50px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-js.svg" class="h-60px xs-h-50px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-bootstrap.svg" class="h-60px xs-h-50px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-react.svg" class="h-60px xs-h-50px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-mongo.svg" class="h-60px xs-h-50px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-wordpress.svg" class="h-60px xs-h-50px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-nodejs.svg" class="h-60px xs-h-50px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start footer -->
    <footer class="footer-dark bg-dark-blue pb-0 cover-background background-position-left-top"
        style="background-image: url('images/demo-hosting-footer-bg.jpg.webp')">
        <div class="container">
            <div class="row justify-content-between mb-5 md-mb-8 sm-mb-40px">
                <!-- start footer column -->
                <div class=" col-lg-4 last-paragraph-no-margin order-sm-1 md-mb-40px xs-mb-30px">
                    <a href="demo-hosting.html" class="footer-logo mb-15px d-inline-block"><img
                            src="images/logo-horizontal-dark.svg" data-at2x="images/logo-horizontal-dark.svg"
                            alt=""></a>
                    <p class="w-90 lg-w-100">Lorem ipsum amet adipiscing elit to eiusmod ad tempor incididunt enim.</p>
                    <!-- <div class="elements-social social-icon-style-02 mt-20px xs-mt-15px">
                        <ul class="small-icon light">
                            <li class="my-0"><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="my-0"><a class="twitter" href="http://www.twitter.com" target="_blank"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li class="my-0"><a class="instagram" href="http://www.instagram.com" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div> -->
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fs-17 fw-500 d-block text-white mb-5px">Seaway Tech Solutions</span>
                    <ul>
                        <li><a href="demo-hosting-about.html">About</a></li>
                        <li><a href="demo-hosting-hosting.html">Hosting</a></li>
                        <li><a href="demo-hosting-domain.html">Domain</a></li>
                        <li><a href="demo-hosting-pricing.html">Pricing</a></li>
                    </ul>
                </div> -->
                <!-- end footer column -->
                <!-- start footer column -->
                <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-4 order-lg-3">
                    <span class="fs-17 fw-500 d-block text-white mb-5px">Customer</span>
                    <ul>
                        <li><a href="demo-hosting-support.html">Client support</a></li>
                        <li><a href="demo-hosting-support.html">Help center</a></li>
                        <li><a href="demo-hosting-about.html">System status</a></li>
                        <li><a href="demo-hosting-contact.html">Feedback</a></li>
                    </ul>
                </div> -->
                <!-- end footer column -->
                <!-- start footer column -->
                <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-5 order-lg-4">
                    <span class="fs-17 fw-500 d-block text-white mb-5px">Say hello</span>
                    <span class="d-inline-flex w-100">Have a question?</span>
                    <a href="mailto:hi@domain.com"
                        class="text-white lh-22 text-decoration-line-bottom d-inline-block mb-20px">hi@domain.com</a>
                    <span class="d-inline-flex w-100">Customer care</span>
                    <a href="tel:12345678910" class="text-white lh-22 d-inline-flex">+1 234 567 8910</a>
                </div> -->
                <!-- end footer column -->
                <!-- start footer column -->
                <div
                    class="col-lg-4 col-sm-6 ps-30px sm-ps-15px md-mb-40px xs-mb-0 order-sm-2 order-lg-5 d-flex justify-content-start justify-content-lg-end align-items-center">
                    <img class="h-60px xs-h-60px" src="images/port-lighthouse.webp"
                        data-at2x="images/port-lighthouse.webp" alt="">
                </div>
                <!-- end footer column -->
            </div>
            <div class="border-top border-color-transparent-white-light pt-35px pb-35px text-center">
                <span class="fs-13 w-60 lg-w-70 md-w-100 d-block mx-auto lh-22">This site is protected by reCAPTCHA and
                    the Google <a href="#" class="text-white text-decoration-line-bottom">privacy policy</a> and <a
                        href="#" class="text-white text-decoration-line-bottom">terms of service</a> apply. You must not
                    use this website if you disagree with any of these website standard terms and conditions.</span>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start sticky elements -->
    <div class="sticky-wrap z-index-1 d-none d-xl-inline-block" data-animation-delay="100" data-shadow-animation="true">
        <div class="elements-social social-icon-style-10">
            <ul class="fs-14">
                <li class="me-30px"><a class="facebook" href="https://www.facebook.com/" target="_blank">
                        <i class="fa-brands fa-facebook-f me-10px"></i>
                        <span class="alt-font">Facebook</span>
                    </a>
                </li>
                <li class="me-30px">
                    <a class="twitter" href="http://www.twitter.com" target="_blank">
                        <i class="fa-brands fa-twitter me-10px"></i>
                        <span class="alt-font">Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="http://www.instagram.com" target="_blank">
                        <i class="fa-brands fa-instagram me-10px"></i>
                        <span class="alt-font">Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end sticky elements -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/vendors.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>