<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Seaway - Because Everyone Deserves a Great Website</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ThemeZaa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Seaway - Because Everyone Deserves a Great Website">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/square-logo.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="css/vendors.css" />
    <link rel="stylesheet" href="css/icon.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/hosting.css" />
</head>

<body data-mobile-nav-style="classic" data-mobile-nav-bg-color="">
    <!-- start header -->
    <header class="header-with-topbar">
        <!-- <div class="header-top-bar top-bar-dark cover-background"
                style="background-image: url('images/demo-hosting-header-bg.jpg.webp')">
                <div class="container-fluid">
                    <div class="row h-42px align-items-center m-0">
                        <div class="col-md-7 text-center text-md-start">
                            <div class="fs-13 text-white"><span class="opacity-6 me-5px">Get a website for as low as
                                </span><span class="fw-600">$50/mo*</span></div>
                        </div>
                        <div class="col-5 text-end d-none d-md-flex">
                            <a href="mailto:eric@seawaytechsolutions.com"
                                class="widget fs-13 text-white text-white-hover opacity-8"><i
                                    class="feather icon-feather-mail text-white position-relative top-1px"></i>eric@seawaytechsolutions.com</a>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- start navigation -->
        <nav class="navbar navbar-expand-lg header-transparent bg-transparent header-reverse" data-header-hover="light">
            <div class="container-fluid">
                <div class="col-auto col-lg-2 me-lg-0 me-auto">
                    <a class="navbar-brand" href="demo-hosting.html">
                        <img src="images/logo-horizontal-dark.svg" data-at2x="images/logo-horizontal-dark.svg" alt=""
                            class="default-logo">
                        <img src="images/logo-horizontal-light.svg" data-at2x="images/logo-horizontal-light.svg" alt=""
                            class="alt-logo">
                        <img src="images/logo-horizontal-light.svg" data-at2x="images/logo-horizontal-light.svg" alt=""
                            class="mobile-logo">
                    </a>
                </div>
                <div class="col-auto menu-order position-static">
                    <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav align-items-end d-flex">
                            <li class="nav-item ms-auto"><a href="index.html" class="nav-link">Home</a></li>
                            <li class="nav-item ms-auto"><a href="about.html" class="nav-link">About</a></li>
                            <li class="nav-item ms-auto"><a href="services.html" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item ms-auto"><a href="demo-hosting-pricing.html"
                                    class="nav-link">Pricing</a>
                            </li>
                            <li class="nav-item ms-auto"><a href="demo-hosting-support.html" class="nav-link"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto col-lg-2 text-end lg-pe-5px">
                    <div class="header-icon">
                        <!-- <div class="header-search-icon icon d-none d-sm-flex">
                                <a href="#" class="search-form-icon header-search-form"><i
                                        class="align-middle feather icon-feather-search fs-18 me-5px xl-me-0"></i><span
                                        class="align-middle d-none d-xxl-inline-block"> Search</span></a>
                                <div class="search-form-wrapper">
                                    <button title="Close" type="button" class="search-close">×</button>
                                    <form id="search-form" role="search" method="get" class="search-form text-left"
                                        action="search-result.html">
                                        <div class="search-form-box">
                                            <h2 class="text-dark-gray fw-700 ls-minus-2px text-center mb-4 alt-font">What
                                                are you looking for?</h2>
                                            <input class="search-input" id="search-form-input5e219ef164995"
                                                placeholder="Enter your keywords..." name="s" value="" type="text"
                                                autocomplete="off">
                                            <button type="submit" class="search-button">
                                                <i class="feather icon-feather-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                        <div class="header-button ms-30px xxl-ms-10px xs-ms-0">
                            <a href="#"
                                class="btn btn-white btn-small btn-rounded btn-box-shadow btn-switch-text fw-600">
                                <span>
                                    <span class="btn-double-text" data-text="Contact Us">Learn more</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
    </header>
    <!-- end header -->
    <!-- start page title -->
    <section class="page-title-gallery-background position-relative ipad-top-space-margin">
        <div class="opacity-extra-medium bg-dark-gray"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center small-screen">
                <div class="col-xl-5 col-lg-6 col-sm-8 position-relative text-center page-title-extra-small">
                    <h1 class="text-uppercase mb-15px alt-font text-white opacity-7 fw-500 ls-1px">More than a
                        website</h1>
                    <h2 class="mb-0 text-white ls-minus-2px fw-500 text-shadow-double-large">Our Services</h2>
                </div>
                <div class="down-section text-center">
                    <a href="#down-section" class="section-link">
                        <div
                            class="d-flex justify-content-center align-items-center mx-auto rounded-circle h-55px w-55px fs-22 text-dark-gray bg-white">
                            <i class="feather icon-feather-arrow-down"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper z-index-minus-2 position-absolute top-0px w-100 h-100"
            data-slider-options='{ "loop": false, "slidesPerView": 1, "effect": "fade", "navigation": { "nextEl": ".swiper-auto-next", "prevEl": ".swiper-auto-prev" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "fadeEffect": { "crossFade": true } }'>
            <div class="swiper-wrapper">
                <div class="swiper-slide cover-background" style="background-image:url('images/services-title.jpg');">
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->
    <!-- start section -->
    <section id="down-section" class="bg-gradient-very-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-12 tab-style-04">
                    <!-- start tab navigation -->
                    <ul
                        class="nav nav-tabs border-0 justify-content-center fw-500 fs-19 md-fs-16 mb-4 md-mb-6 sm-mb-5px alt-font">
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tab_five1" class="nav-link active">Keyword
                                research<span class="tab-border bg-dark-gray"></span></a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab_five2">Target
                                analysis<span class="tab-border bg-dark-gray"></span></a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab_five3">Social
                                marketing<span class="tab-border bg-dark-gray"></span></a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab_five4">Email
                                campaign<span class="tab-border bg-dark-gray"></span></a></li>
                    </ul>
                    <!-- end tab navigation -->
                    <div class="tab-content">
                        <!-- start tab content -->
                        <div class="tab-pane fade in active show" id="tab_five1">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-7 col-md-6 sm-mb-30px"
                                    data-anime='{ "opacity": [0, 1], "staggervalue": 200, "duration": 600, "delay": 0, "easing": "easeOutCirc" }'>
                                    <img src="https://placehold.co/682x510" alt="" />
                                </div>
                                <div class="col-lg-5 col-md-6 ps-8 lg-ps-3 sm-ps-15px text-center text-md-start"
                                    data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                                    <span
                                        class="ps-20px pe-20px mb-25px md-mb-20px text-uppercase text-cornflower-blue fs-13 lh-40 border-radius-100px md-lh-50 ls-1px alt-font fw-700 bg-solitude-blue d-inline-block">Keyword
                                        research</span>
                                    <h2 class="alt-font text-dark-gray fw-700 ls-minus-1px">Keywords lead to customers.
                                    </h2>
                                    <p class="w-80 xl-w-90 md-w-100">We are committed to deliver unique digital media
                                        solutions from web design to eCommerce solutions for our clients by using our
                                        knowledge and expertise.</p>
                                    <a href="#" class="btn btn-medium btn-switch-text btn-round-edge btn-dark-gray"
                                        style="will-change: transform;">
                                        <span>
                                            <span class="btn-double-text" data-text="Explore more">Explore more</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- start tab content -->
                        <div class="tab-pane fade in" id="tab_five2">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-7 col-md-6 sm-mb-30px">
                                    <img src="https://placehold.co/682x510" alt="" />
                                </div>
                                <div class="col-lg-5 col-md-6 ps-8 lg-ps-3 sm-ps-15px text-center text-md-start">
                                    <span
                                        class="ps-20px pe-20px mb-25px md-mb-20px text-uppercase text-cornflower-blue fs-13 lh-40 border-radius-100px md-lh-50 ls-1px alt-font fw-700 bg-solitude-blue d-inline-block">Target
                                        analysis</span>
                                    <h2 class="alt-font text-dark-gray fw-700 ls-minus-1px">Power your online
                                        visibility.
                                    </h2>
                                    <p class="w-80 xl-w-90 md-w-100">We are committed to deliver unique digital media
                                        solutions from web design to eCommerce solutions for our clients by using our
                                        knowledge and expertise.</p>
                                    <a href="#" class="btn btn-medium btn-switch-text btn-round-edge btn-dark-gray"
                                        style="will-change: transform;">
                                        <span>
                                            <span class="btn-double-text" data-text="Explore more">Explore more</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- start tab content -->
                        <div class="tab-pane fade in" id="tab_five3">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-7 col-md-6 sm-mb-30px">
                                    <img src="https://placehold.co/682x510" alt="" />
                                </div>
                                <div class="col-lg-5 col-md-6 ps-8 lg-ps-3 sm-ps-15px text-center text-md-start">
                                    <span
                                        class="ps-20px pe-20px mb-25px md-mb-20px text-uppercase text-cornflower-blue fs-13 lh-40 border-radius-100px md-lh-50 ls-1px alt-font fw-700 bg-solitude-blue d-inline-block">Social
                                        marketing</span>
                                    <h2 class="alt-font text-dark-gray fw-700 ls-minus-1px">Brand identity and strategy.
                                    </h2>
                                    <p class="w-80 xl-w-90 md-w-100">We are committed to deliver unique digital media
                                        solutions from web design to eCommerce solutions for our clients by using our
                                        knowledge and expertise.</p>
                                    <a href="#" class="btn btn-medium btn-switch-text btn-round-edge btn-dark-gray"
                                        style="will-change: transform;">
                                        <span>
                                            <span class="btn-double-text" data-text="Explore more">Explore more</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- start tab content -->
                        <div class="tab-pane fade in" id="tab_five4">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-7 col-md-6 sm-mb-30px">
                                    <img src="https://placehold.co/682x510" alt="" />
                                </div>
                                <div class="col-lg-5 col-md-6 ps-8 lg-ps-3 sm-ps-15px text-center text-md-start">
                                    <span
                                        class="ps-20px pe-20px mb-25px md-mb-20px text-uppercase text-cornflower-blue fs-13 lh-40 border-radius-100px md-lh-50 ls-1px alt-font fw-700 bg-solitude-blue d-inline-block">Email
                                        marketing</span>
                                    <h2 class="alt-font text-dark-gray fw-700 ls-minus-1px">Tailor-made campaign.</h2>
                                    <p class="w-80 xl-w-90 md-w-100">We are committed to deliver unique digital media
                                        solutions from web design to eCommerce solutions for our clients by using our
                                        knowledge and expertise.</p>
                                    <a href="#" class="btn btn-medium btn-switch-text btn-round-edge btn-dark-gray"
                                        style="will-change: transform;">
                                        <span>
                                            <span class="btn-double-text" data-text="Explore more">Explore more</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="py-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="dropcap-style-02 last-paragraph-no-margin">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla, sapien luctus
                            fermentum cursus, risus arcu tristique libero, eu ultricies mauris risus at mauris. Duis sit
                            amet tempus massa, sit amet luctus erat. Quisque pulvinar ac nibh non sodales. Fusce
                            facilisis est. Vestibulum venenatis, mauris ut accumsan lacinia ipsum nisl volutpat leo ut
                            dictum mauris quam eget nibhmauris ut accumsan lacinia.</p>
                        <img src="https://placehold.co/1190x700" class="mb-50px mt-6 border-radius-6px" alt="">
                        <div class="h-3px w-100 bg-base-color"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="pb-30px pt-30px">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 md-mb-50px animation-float"
                    data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
                    <img class="w-100" src="https://placehold.co/619x514" alt="">
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6"
                    data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <h3 class="fw-700 text-dark-gray ls-minus-1px">About the owner</h3>
                    <p class="w-95 lg-w-100 mb-30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                        eligendi dolorum porro nemo commodi doloribus suscipit ut quasi, eveniet deleniti tempora quis
                        veniam eum. Dolorum quibusdam totam fugiat quae debitis?
                        Beatae ipsam repudiandae debitis, natus quisquam assumenda, pariatur culpa numquam sunt magnam
                        molestias quas inventore commodi iure quis voluptatum? Nam modi ratione debitis pariatur, et
                        vitae fugiat ex error mollitia?
                        Dolores aperiam quisquam impedit ipsum, accusantium non repellat tempora aliquid, nesciunt
                        cumque in illum, id laudantium provident asperiores. Voluptatibus maiores animi accusantium,
                        quaerat beatae voluptatum eius in reiciendis velit nobis?
                        Placeat sint, officia nobis cupiditate eos pariatur dolor nam. Enim nulla tempora magni aliquam
                        culpa vel commodi magnam ea alias sit fugiat, dolorum in expedita cum voluptate excepturi id
                        aut?</p>

                    <a href="demo-hosting-hosting.html" class="btn btn-large btn-dark-gray btn-rounded btn-switch-text">
                        <span>
                            <span>Meet our team</span>
                            <span><i class="feather icon-feather-arrow-right"></i></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start footer -->
    <footer class="footer-dark bg-dark-blue pb-0 cover-background background-position-left-top"
        style="background-image: url('images/demo-hosting-footer-bg.jpg')">
        <div class="container">
            <div class="row justify-content-between mb-5 md-mb-8 sm-mb-40px">
                <!-- start footer column -->
                <div class=" col-lg-4 last-paragraph-no-margin order-sm-1 md-mb-40px xs-mb-30px">
                    <a href="demo-hosting.html" class="footer-logo mb-15px d-inline-block"><img
                            src="images/logo-horizontal-dark.svg" data-at2x="images/logo-horizontal-dark.svg"
                            alt=""></a>
                    <p class="w-90 lg-w-100">Lorem ipsum amet adipiscing elit to eiusmod ad tempor incididunt enim.</p>
                    <!-- <div class="elements-social social-icon-style-02 mt-20px xs-mt-15px">
                    <ul class="small-icon light">
                        <li class="my-0"><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="my-0"><a class="twitter" href="http://www.twitter.com" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                        <li class="my-0"><a class="instagram" href="http://www.instagram.com" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div> -->
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                <span class="fs-17 fw-500 d-block text-white mb-5px">Seaway Tech Solutions</span>
                <ul>
                    <li><a href="demo-hosting-about.html">About</a></li>
                    <li><a href="demo-hosting-hosting.html">Hosting</a></li>
                    <li><a href="demo-hosting-domain.html">Domain</a></li>
                    <li><a href="demo-hosting-pricing.html">Pricing</a></li>
                </ul>
            </div> -->
                <!-- end footer column -->
                <!-- start footer column -->
                <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-4 order-lg-3">
                <span class="fs-17 fw-500 d-block text-white mb-5px">Customer</span>
                <ul>
                    <li><a href="demo-hosting-support.html">Client support</a></li>
                    <li><a href="demo-hosting-support.html">Help center</a></li>
                    <li><a href="demo-hosting-about.html">System status</a></li>
                    <li><a href="demo-hosting-contact.html">Feedback</a></li>
                </ul>
            </div> -->
                <!-- end footer column -->
                <!-- start footer column -->
                <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-5 order-lg-4">
                <span class="fs-17 fw-500 d-block text-white mb-5px">Say hello</span>
                <span class="d-inline-flex w-100">Have a question?</span>
                <a href="mailto:hi@domain.com"
                    class="text-white lh-22 text-decoration-line-bottom d-inline-block mb-20px">hi@domain.com</a>
                <span class="d-inline-flex w-100">Customer care</span>
                <a href="tel:12345678910" class="text-white lh-22 d-inline-flex">+1 234 567 8910</a>
            </div> -->
                <!-- end footer column -->
                <!-- start footer column -->
                <div
                    class="col-lg-4 col-sm-6 ps-30px sm-ps-15px md-mb-40px xs-mb-0 order-sm-2 order-lg-5 d-flex justify-content-start justify-content-lg-end align-items-center">
                    <img class="h-60px xs-h-60px" src="images/port-lighthouse.png"
                        data-at2x="images/port-lighthouse.png" alt="">
                </div>
                <!-- end footer column -->
            </div>
            <div class="border-top border-color-transparent-white-light pt-35px pb-35px text-center">
                <span class="fs-13 w-60 lg-w-70 md-w-100 d-block mx-auto lh-22">This site is protected by reCAPTCHA and
                    the Google <a href="#" class="text-white text-decoration-line-bottom">privacy policy</a> and <a
                        href="#" class="text-white text-decoration-line-bottom">terms of service</a> apply. You must not
                    use this website if you disagree with any of these website standard terms and conditions.</span>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/vendors.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>